---
layout: default
---
{% include hero.html %}

<section id="faq" class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr> {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section id="sponsors" class="info">
  <div class="container">
    <div class="items row">
      <div class="col-xs-12 text-center">
        <h1>CreatED 2018 is sponsored by</h1>
        <hr />
      </div>
    </div>
    <div class="items row">
      {% for sponsor in site.event.sponsors.big %}
      <div class="col-xs-10 col-xs-offset-1 text-center">
        <div class="item">
          <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo }}"  alt="{{ sponsor.name }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="items row">
      {% for sponsor in site.event.sponsors.medium %}
      <div class="col-xs-6 text-center">
        <div class="item">
          <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo }}"  alt="{{ sponsor.name }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="items row">
      {% for sponsor in site.event.sponsors.small %}
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <div class="item">
          <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo }}"  alt="{{ sponsor.name }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
