<!DOCTYPE html>
<html>
{% include head.html %}

<body id="bootstrap-overrides" {% if page.custom_class %} class="{{ page.custom_class }}" {% endif %}>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">{{ site.event.name_short }}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li class="hidden-xs"><a id="localhost-logo" href="http://localhost.mlh.io" class="navbar-right"><img src="images/white_localhost_logo.svg" alt="MLH Localhost Logo"></a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#schedule">SCHEDULE</a></li>
          <li><a href="#workshops">WORKSHOPS</a></li>
          <li><a href="#venue">VENUE</a></li>
          <li><a href="#sponsors">SPONSORS</a></li>
          <li class="visible-xs"><a id="localhost-logo" href="http://localhost.mlh.io" class="navbar-right"><img src="images/white_localhost_logo.svg" alt="MLH Localhost Logo"></a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% include trust_badge.html %} {{ content }}

  <section class="footer">
    <div class="container text-center">
      <h1>{{ site.event.name }}</h1>
      <h3>Background photo is <a href="https://flic.kr/p/qwfAwk">&ldquo;Edinburgh Castle and city&rdquo;</a> by <a href="https://flic.kr/ps/2WkKwL">john mcsporran</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></h3>
      <h3>&copy; 2018 <a href="{{ site.organiser.site }}">{{ site.organiser.name }}</a>. Based on template by <a href="https://github.com/nlaz">Niko Lazaris</a>.</h3>
    </div>
  </section>

  <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

  {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
</body>

</html>
